Other/XML/client1/src/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/3"
	xmlns:tns="http://www.example.org/3" elementFormDefault="qualified">

	<element name="e1" type="tns:t1" />
	<complexType name="t1" abstract="false">
		<sequence>
			<element name="a1" type="string" />
		</sequence>
	</complexType>
	<complexType name="t2">
		<complexContent>
			<extension base="tns:t1">
			<sequence>
				<element name="a2" type="string" />
			</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>